<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.theme.ThemeDiaryMapper">

    <resultMap id="countersMapper" type="com.tencent.wxcloudrun.model.ThemeDiary">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createTime" column="create_time" javaType="java.util.Date" />
        <result property="updateTime" column="update_time" javaType="java.util.Date"  />
    </resultMap>

    <select id="getThemeDiaryList" resultMap="countersMapper" parameterType="java.lang.Long">
       SELECT * FROM theme_diary where user_id = #{userId} ;
    </select>

</mapper>
